body{
    font-family: Arial, Helvetica, sans-serif;
    background: color #0f172a;
    justify-content: center;
    height: 100vh;
    color:red;
    align-items: center;
    display: flex;
}
.project_container
{
    background-attachment: rgba(255,255,255,0);
    padding:30px;
    border-radius: 20px;
    text-align: center ;
    min-height: 250px;
    min-width: 400px;                        ;
}
.date_input
{
    padding:10px;
    border-radius: 5px;
    background-color: #0f172a;
    color: white;
    width:80%;
    border-width: 1;
    border-color: #6366f1;
}

.fetch_result{
    background-color:red;
    color:white;
    margin-top: 20px;
    padding:10px;
    width:40%;
    border-width: 0px;
    border-radius: 5px;
}